# =========================
# ◆資格情報
# =========================


# =========================
# ◆tokenファイル
# =========================
src/taq/token/

# =========================
# ◆python開発環境
# =========================
__pycache__/
*.py[cod]
*.pyo
*.so
*.dylib
*.log

# =========================
# ◆OS系
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
.claude

